<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
</head>
<body>
    <header class="position-sticky top-0">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-pink fw-bold" asp-area="" asp-controller="Home" asp-action="Index">FoodApplication</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-pink fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-pink fw-bold" asp-area="" asp-action="Index" asp-controller="Recipe">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-pink fw-bold" asp-area="">Menu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2">
                    <h4>FoodApplication</h4>
                    <p>Healthy, Save And Fastest </p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2">
                    <h4>Contact US</h4>
                    <div class="mt-2 mb-2">
                        <span><i class="fa-brands fa-instagram fs-4"></i></span>
                        <span class="fs-6 mx-1">Instagram</span>
                    </div>
                    <div class="mt-2">
                        <span><i class="fa-brands fa-whatsapp fs-4"></i></span>
                        <span class="fs-6 mx-1">Whatsapp</span>
                    </div>
                    <div class="mt-2">
                        <span><i class="fa-brands fa-facebook fs-4"></i></span>
                        <span class="fs-6 mx-1">Facebook</span>
                    </div>
                    <div class ="mt-2">
                        <span> <i class="fa-regular fa-envelope fs-4"></i></span>
                        <span class="fs-6 mx-1">Mail</span>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 mt-2">
                    <h4>Address</h4>
                    <pre>3322 JABAL AL AKHDAR STREET, GHIRNATAH DISTRICT </pre>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@* class="col-sm-4 col-md-4 col-lg-4 col-xl-4" *@
 @*col-sm-4: This means the element will occupy 4 out of 12 possible columns on small devices (like tablets) and larger. The "sm" stands for "small".
col-md-4: This means the element will occupy 4 out of 12 columns on medium-sized devices (like some desktops) and larger. The "md" stands for "medium".
col-lg-4: This specifies that the element will take up 4 out of 12 columns on large devices (like larger desktops). The "lg" stands for "large".
col-xl-4: This means the element will occupy 4 out of 12 columns on extra large devices (like very large desktops). The "xl" stands for "extra large" *@