@{
    ViewData["Title"] = "Recipe";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @await Html.PartialAsync("_searchBar")
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-2">
            <div class="shadow rounded position-sticky" id="recipe-list">
                <div class="border-bottom border-3 p-2 ">
                    <h4 class="text-pink text-center fst-italic">Recipes</h4>
             @await Html.PartialAsync("_SideMenu")
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="mb-3">
                <h4 class="text-dark"> Pizza</h4>
                <div class="row" id="Pizzarecipe"></div>
            </div>
            <div class="mb-3">
                <h4 class="text-dark"> Cake</h4>
                <div class="row" id="Cakerecipe"></div>
            </div>
            <div class="mb-3">
                <h4 class="text-dark"> Chicken</h4>
                <div class="row" id="Chickenrecipe"></div>
            </div>
            <div class="mb-3">
                <h4 class="text-dark"> Kebab</h4>
                <div class="row" id="Kebabrecipe"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetRecipes("pizza", "Pizzarecipe",false);
        GetRecipes("cake", "Cakerecipe", false);
        GetRecipes("chicken", "Chickenrecipe", false);
        GetRecipes("kebab", "Kebabrecipe", false);
    })
</script>

